@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
    z-index: 5;
    color: white;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}
#banner {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
